:root {
    --bs-primary: #2E4156;
    --bs-secondary: #AAB7B7;
    --bs-tertiary: #AAB7B7;
    --bs-dark: #1A2D42;
    --bs-light: #D4D8DD;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    color: white !important;
}

.bg-secondary {
    background-color: var(--bs-secondary) !important;
}

.text-secondary {
    color: var(--bs-secondary) !important;
}

.btn-secondary {
    background-color: var(--bs-secondary) !important;
    border-color: var(--bs-secondary) !important;
    color: white !important;
}

.bg-tertiary {
    background-color: var(--bs-tertiary) !important;
} 

.text-tertiary {
    color: var(--bs-tertiary) !important;
}

.btn-tertiary {
    background-color: var(--bs-tertiary) !important;
    border-color: var(--bs-tertiary) !important;
    color: white !important;
}

.text-dark {
    color: var(--bs-dark) !important;
}

.bg-dark {
    background-color: var(--bs-dark) !important;
}

.btn-dark {
    background-color: var(--bs-dark) !important;
    border-color: var(--bs-dark) !important;
    color: white !important;
}

.text-light {
    color: var(--bs-light) !important;
}

.bg-light {
    background-color: var(--bs-light) !important;
}

.btn-light {
    background-color: var(--bs-light) !important;
    border-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
}

.active {
    background-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
}